<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ '/css/default.css' | url }}">
    </head>
    <body>
        <header>
            <div class="banner">
                <p>vandergail dot com</p>
            </div>
        </header>
        <nav class="drawer">
            <ul>
                <li><a href="https://vandergail.com">Home</a></li>
                <li>Tags</li>
                <li><a href="https://github.com/vandergail">GitHub</a></li>
            </ul>
        </nav>
        <main>
            <div class="page-content">
                {{ content | safe }}
            </div>
        </main>
    </body>
</html>