/* ==============
    imported fonts
   ============== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

/* ==============
    global styles
   ============== */

body {
    margin: 0;
    height: 100vh;
    background-image: url('/images/bg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

header {
    width: 100%;
    height: 80vh;
    position: relative;  
}

/* ==============
    page layout styles
   ============== */
.site-info {
    width: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 18px;
}

.site-title {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.site-title a, a:hover, a:visited, a:active {
    text-decoration: none;
    color: inherit
}

.social-links {
    margin-left: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.social-links svg {
    height: 32px;
    padding: 4px 6px;
    fill: white;
}

/*.social-links a {
    padding-left: 16px;
}*/

/* =====================
    page content styles
   ===================== */



main {
    font-family: 'Roboto', sans-serif;
    overflow: auto;
    background-color: white;
    min-height: 20vh;
}

.page-content {
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.page-content a {
    color: inherit;
    text-decoration: none;
}