/* ==============
    imported fonts
   ============== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

/* ==============
    global styles
   ============== */

body {
    margin: 0;
    height: 100vh;
    display: flex;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}

/* ==============
    page layout styles
   ============== */

.banner {
    height: 64px;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 0 8px;
    font-family: 'Roboto', sans-serif;
}

/* ==============
    nav menu styles
   ============== */

.drawer {
    width: 200px;
    padding-top: 64px;
    border-right: solid 1px #ddd; 
}

.drawer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.drawer a {
    text-decoration: none;
}

.drawer li {
    padding: 12px 8px;
}

.drawer li:hover {
    background-color: #ddd;
}

/* ==============
    page content styles
   ============== */

main {
    padding-top: 64px;
    flex-grow: 1;
    font-family: 'Roboto', sans-serif;
    overflow: auto;
}

.page-content {
    padding: 0 18px;
}