/* ==============
fonts
============== */

@font-face {
	font-family: 'vga-8x16';
	src:    url('/fonts/Web437_IBM_VGA_8x16.woff');
}

/* ==============
global styles
============== */

body {
	margin: 16px;
	font-family: 'vga-8x16';
	background-color: #000000;
}

header {

} 

/* ==============
page layout styles
============== */
.site-info {
	display: flex;
	align-items: center;
	padding: 16px 32px;
}

.site-title {
	font-size: 32px;
	color: #ffffff;
}

.site-links {
	color: #ffff55;
	padding: 12px;
}

.site-links a {
	text-decoration: none;
	color: inherit;
	border-style: solid;
	border-width: 2px;
	border-color: #ffffff;
	padding: 8px;
}

.site-links a:hover {
	background-color: #555555;
}

/* =====================
site content styles
===================== */

.site-content {
"	min-height: 60vh;"
	overflow: auto;
}

.wrap {
	margin-left: auto;
	margin-right: auto;
}

main {
	max-width: 1000px;
	padding: 32px;
	margin-left: auto;
	margin-right: auto;
}

.main-content article {
	color: #aaaaaa;
	background-color: #292929;
	padding: 24px;
	margin-bottom: 16px;
}

.main-content h1 {
	font-weight: normal;
	margin-top: 0;
	color: #55ffff;
}

.main-content time {
	font-size: 16px;
	color: #ff5555;
}

.main-content a {
	text-decoration: none;
	color: inherit;
}
